header {
  width: 100%;
  height: 20vh;
  background-color: var(--turquoise-500-400);
  color: var(--turquoise-100-ligth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(16px + 2vmin);
  text-align: center;
}

main {
  width: 100%;
  height: 70vh;
  color: var(--blue-full-dark);
  font-size: calc(10px + 2vmin);
  border: 2px solid black;
}

aside {
  width: 100%;
  height: 50%;
}

section {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: var(--turquoise-100-ligth);
  color: var(--turquoise-500-400);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(8px + 1vmin);
}

@media (min-width: 430px) and (max-width: 768px) {
  header {
    height: 15vh;
  }

  main {
    height: 75vh;
  }

  footer {
    height: 10vh;
  }
}

@media (min-width: 769px) {
  header {
    height: 12vh;
  }

  main {
    height: 80vh;
    display: flex;
  }

  aside {
    width: 20%;
    height: 100%;
  }

  section {
    width: 100%;
    height: 100%;
  }

  footer {
    height: 8vh;
  }
}
