nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--primary-font);
  /* box-shadow: 0 5px 10px var(--secondary); */
}

a {
  color: var(--secondary-font);
  text-decoration: none;
}
